<td colspan="{{colSpan}}" style="padding:0; color:{{settings.color}}; text-decoration: {{settings.textDecoration}}; font-style:{{settings.fontStyle}}; font-weight:{{settings.fontWeight}}; font-size: {{settings.fontSize}}px; line-height:{{settings.lineHeight}}px; font-family:{{settings.fontFamily}}; text-align:{{settings.align}};" valign="{{settings.verticalAlign}}">
    {{#if value}}
        {{formatText this}}
    {{else}}
        {{> children}}
    {{/if}}

</td>