{{#each links}}
    {{inheritSettings ../this this 0}}
{{/each}}
<p width="100%" style="color:{{settings.color}}; text-decoration: {{settings.textDecoration}}; font-style:{{settings.fontStyle}}; font-size: {{settings.fontSize}}px; font-weight:{{settings.fontWeight}}; line-height:{{settings.lineHeight}}px; font-family:{{settings.fontFamily}}; text-align:{{settings.align}};">{{formatText this}}</p>