<td colspan="{{settings.colSpan}}" style="padding:0; text-align:{{settings.align}};" valign="{{settings.valign}}">
    {{#if value}}
        {{value}}
    {{else}}
        {{> children}}
    {{/if}}
</td>