<div class="column" style="width:100%;max-width:{{columnWidth columns}}px;display:inline-block;vertical-align:top;direction:ltr;">
    <table cellpadding="0" cellspacing="0" border="0" width="100%" style="border-spacing:0;font-family: {{settings.fontFamily}};color:{{settings.color}};">
        <tr>
            <td class="inner" style="padding:{{settings.margin}}px;">
                <table cellpadding="0" cellspacing="0" border="0" class="contents" style="border-spacing:0;width:100%;font-size:{{settings.fontSize}};text-align:{{settings.align}};" bgcolor="{{settings.backgroundColor}}">
                    <tr>
                        <td class="inner" style="padding:{{settings.padding}}px;">
                            {{> children}}
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</div>