<table border="0" cellpadding="0" cellspacing="0" width="100%" style="border-spacing:0;">
    <tr>
        <td align="{{settings.align}}">
            {{#if width}}
                <img src="{{src}}" width="{{getWidth width maxWidth}}" alt="{{alt}}" style="border-width:0;{{centerImage settings.align}} vertical-align:{{settings.verticalAlign}};" />
            {{else}}
                <img src="{{src}}" alt="{{alt}}" width="{{getWidth settings.width maxWidth}}" style="width:100%;border-width:0;max-width:{{getWidth settings.width maxWidth}}px;"/>
            {{/if}}
        </td>
    </tr>
</table>