{{> spacing this spacing=spacing}}
<table border="0" cellspacing="0" cellpadding="0" align="center" width="100%">
    <tr>
        <td height="{{size}}" style="font-size: {{size}}px; color: {{settings.backgroundColor}}; mso-line-height-rule: exactly; line-height: {{size}}px; border-bottom: {{size}}px {{style}} {{color}};">-</td>
    </tr>
</table>
{{> spacing this spacing=spacing}}